@{
    ViewBag.Title = "Home Page";
}

<br />
<div class="jumbotron">
    <h1>Dan Foster</h1>
    <p class="lead">Hey there! Welcome to my website for MIS4200. Feel free to look around and if you want to know a little bit about me, check out some quick facts below!</p>
    <p><a href="https://www.linkedin.com/in/daniel-t-foster/" class="btn btn-primary btn-lg">My LinkedIn &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-3">
        <h2>Past</h2>
        <p>
            I am from Cleveland, Ohio and have lived in Rocky River for the past 8 years now.
            I have two older brothers and one younger sister aged 28, 26, and 14, respectively.
            I also have three animals: Jackson my lab-terrier mix, Memphis my tabby cat, and Blu my Siamese cat.
        </p>
    </div>
    <div class="col-md-3">
        <h2>Present</h2>
        <p>
            I am a senior in the College of Business here at Ohio University.
            I am triple majoring in Economics, Management Information Systems, and Analytics.
            I am a part of a couple organizations here on campus: Alpha Kappa Psi Professional Business Fraternity, and the Emerging Leaders Program.
        </p>
    </div>
    <div class="col-md-3">
        <h2>Future</h2>
        <p>
            I plan on graduating in May of this year with my bachelors of business administration and I will hopefully graduate with high honors.
            After graduation, I am moving back to Cleveland to work as a search consultant for Alliance Search Solutions, based out of Independence, Ohio.
        </p>
    </div>
    <div class="col-md-3">
        <h2>Links</h2>
        <p>
            The following are links to all of the pages on this website. Definitely feel free to explore and fiddle with items on each page!
            <li>@Html.ActionLink("Home", "Index", "Home")</li>
            <li>@Html.ActionLink("About", "About", "Home")</li>
            <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
            <li>@Html.ActionLink("Instructors", "Index", "Instructors")</li>
            <li>@Html.ActionLink("Students", "Index", "Students")</li>
            <li>@Html.ActionLink("Courses", "Index", "Courses")</li>
            <li>@Html.ActionLink("Course Details", "Index", "CourseDetails")</li>
        </p>
    </div>
</div>